#contactanos {
  background-color: #fff;
    width: 99.85%;
    height: 180px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-weight: bold;
  }
  #con{

    font-size: 50px;
    }
    
  
 
  
