{% load static %}
<!DOCTYPE html>
<html>
<head>
   <style>
    footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 20px;
        position: relative;
        bottom: 0;
        width: 100%;
    }

    .footer-content a {
        color: white;
        text-decoration: none;
    }

    .footer-content a.active {
        text-decoration: underline;
    }
   </style>
</head>
<body>
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Tecnofusion. Todos los derechos reservados.</p>
            <a href="{% url 'terminos' %}" class="{% if request.path == '/terminos/' %}active{% endif %}">Términos y Condiciones</a>
        </div>
    </footer>
</body>
</html>
