<style>

    
  .pg {
      display: flex;
  }
  h1,h2{
    cursor:pointer; 
  }
  #t1,#t2,#t3,#t4,#t5,li,h3{
    cursor:pointer;
  }
  
  .referencias {
      display:flow-root;
      width: 30em; /* Ajustado a un tamaño más razonable */
      height: 7450px;
      border-right: 1px solid black;
      margin: 10px 20px 0 0; /* Eliminado el 'px' innecesario */
     
  }
  
  .contenido {
      /* Puedes agregar propiedades aquí según lo que necesites */
      flex: 1; /* Esto hará que el contenido ocupe el espacio restante si lo necesitas */
  }
  
  
  
  
  
  .contenido {
    /* Puedes agregar propiedades aquí según lo que necesites */
    flex: 1; /* Esto hará que el contenido ocupe el espacio restante si lo necesitas */
  }
  
  
  
  
  p{
  display: none;
  transition: all 0.3s ease;
  
  }
  /* Puedes agregar más estilos para darle formato al texto */
  h1 {
  cursor:pointer;
  }
  
  
  
  </style>
  <body>
  
    <div class="pg">
    
    
    
      <div class="referencias">
   
       <ol>
           <li>
               <a href="#t1"><h5>¿Qué es Tecnofusion?</h5></a>
               <ul>
                   <li> <a href="#t1.1">Definición</a></li>
                   <li><a href="#t1.2">Principales características</a></li>
               </ul>
           </li>
           <li>
               <a href="#t2"><h5>¿Qué tipos de productos venden en Tecnofusion?</h5></a>
               <ul>
                   <li><a href="#t2.1">Computadoras de escritorio</a></li>
                   <li><a href="#t2.2">Laptops</a></li>
                   <li><a href="#t2.3">Tablets</a></li>
                   <li><a href="#t2.4">Accesorios tecnológicos</a></li>
                   <li><a href="#t2.5">Componentes de hardware</a></li>
               </ul>
           </li>
           <li>
               <a href="#t3"><h5>¿Qué significa que un producto sea reacondicionado?</h5></a>
               <ul>
                   <li><a href="#t3.1">Inspección inicial</a></li>
                   <li><a href="#t3.2">Reparación</a></li>
                   <li><a href="#t3.3">Limpieza y restauración estética</a></li>
                   <li><a href="#t3.4">Pruebas de funcionamiento</a></li>
                   <li><a href="#t3.5">Certificación y embalaje</a></li>
               </ul>
           </li>
           <li>
               <a href="#t4"><h5>¿Cómo puedo realizar una compra en la plataforma?</h5></a>
               <ul>
                   <li><a href="#t4.1">Registro en la plataforma</a></li>
                   <li><a href="#t4.2">Navegación y selección de productos</a></li>
                   <li><a href="#t4.3">Añadir al carrito</a></li>
                   <li><a href="#t4.4">Proceder al pago</a></li>
                   <li><a href="#t4.5">Confirmación del pedido</a></li>
                   <li><a href="#t4.6">Envío y entrega</a></li>
               </ul>
           </li>
           <li>
               <a href="#t5"><h5>¿Los productos reacondicionados tienen garantía?</h5></a>
               <ul>
                   <li><a href="#t5.1">Garantía estándar</a></li>
                   <li><a href="#t5.2">Garantía extendida</a></li>
                   <li><a href="#t5.3">Condiciones de la garantía</a></li>
                   <li><a href="#t5.4">Proceso de reclamación</a></li>
               </ul>
           </li>
           <li>
               <a href="#t6"><h5>¿Qué métodos de pago aceptan?</h5></a>
               <ul>
                   <li><a href="#t6.1">Tarjetas de crédito y débito</a></li>
                   <li><a href="#t6.2">Transferencias bancarias</a></li>
                   <li><a href="#t6.3">Pagos electrónicos</a></li>
                   <li><a href="#t6.4">Pagos en cuotas (si aplica)</a></li>
               </ul>
           </li>
       </ol>
   
   
               
               
   
   
   
       </div>
   
       <div class="contenido">
        <h1 id="t1" onclick="toggleContent('t1.1')">
          ¿Que es tecnofucion como plataformas?
           </h1>
          <p id="t1.1" >
           Tecnofusion es una innovadora plataforma dedicada al manejo y gestión integral del proyecto homónimo. Su propósito principal es brindar una solución accesible y eficiente para la comercialización de equipos reacondicionados, asegurando que la tecnología sea asequible para todo tipo de usuarios, sin importar su perfil o necesidades económicas.
       
       Objetivos de la Plataforma:
       El objetivo central de Tecnofusion es democratizar el acceso a la tecnología de calidad a través de productos reacondicionados a precios competitivos, fomentando la sostenibilidad y reduciendo el impacto ambiental. Al reutilizar equipos tecnológicos y darles una segunda vida, ayudamos a reducir el desperdicio electrónico, promoviendo una cultura de consumo responsable.
       
          </p>
          <h3 id="t1.2" onclick="toggleContent('t1.2.2')">
           
           Características Principales:
          </h3>
          <p id="t1.2.2">
       Comercialización de Equipos Reacondicionados: A través de nuestra plataforma, los usuarios pueden explorar una amplia gama de productos, desde computadoras portátiles hasta accesorios, todos cuidadosamente reacondicionados y a precios accesibles.
       
       Interfaz Intuitiva: Hemos diseñado una experiencia de usuario simple y amigable, donde los usuarios pueden navegar fácilmente por las características de cada producto, compararlas y realizar compras de manera rápida y segura.
       
       Soporte Integral: Contamos con un equipo dedicado al soporte técnico y atención al cliente, proporcionando asistencia en todo el proceso de compra y postventa, para asegurar la satisfacción del cliente y resolver cualquier duda o problema que pueda surgir.
       
       Accesibilidad para Todos: La plataforma está diseñada para ser accesible desde cualquier dispositivo, lo que permite a nuestros clientes realizar compras y gestionar sus pedidos en cualquier momento y desde cualquier lugar.
       
       Beneficios para los Usuarios:
       Precios Competitivos: Ofrecemos productos tecnológicos de calidad a precios mucho más bajos que los de mercado para nuevos dispositivos.
       
       Sostenibilidad: Al optar por productos reacondicionados, los usuarios contribuyen a reducir el impacto ambiental asociado a la producción de nuevos equipos y el desecho de electrónicos en vertederos.
       
       Garantía y Seguridad: Todos nuestros productos cuentan con una garantía para asegurar su buen funcionamiento, proporcionando a los usuarios confianza en sus compras.
       
       Comunidad Activa: Fomentamos una comunidad donde los usuarios pueden compartir sus experiencias, ofrecer reseñas y obtener recomendaciones sobre los mejores productos según sus necesidades.
       
          </p>
          <br>
          <h2 id="t2" onclick="toggleContent('t2.1')">2. ¿Qué tipos de productos venden en Tecnofusion?</h2>
          <p id="t2.1">
            En Tecnofusion nos enorgullecemos de ofrecer una amplia gama de dispositivos electrónicos reacondicionados, que han sido minuciosamente revisados y restaurados para garantizar su excelente estado de funcionamiento. Nuestra selección abarca desde equipos de alto rendimiento hasta accesorios esenciales, todos diseñados para satisfacer las necesidades de una diversa variedad de usuarios, ya sean profesionales, estudiantes, o aficionados a la tecnología. A continuación, describimos en detalle los principales productos que ofrecemos:
          </p>
          
          <ul>
            <li  onclick="toggleContent('t2.1.2')"><strong>Computadoras de escritorio:</strong></li>
            <p id="t2.1.2">
              Nuestras computadoras de escritorio reacondicionadas están diseñadas para cubrir las demandas de oficinas, estudiantes, y usuarios domésticos que requieren potencia y fiabilidad a un precio accesible. Ofrecemos una selección diversa que incluye:
            
              <strong>Modelos empresariales:</strong> Equipos diseñados para entornos corporativos, optimizados para ejecutar aplicaciones de oficina, software de gestión y otras herramientas productivas con eficiencia.</li>
            <strong>Computadoras para gaming:</strong> Equipos reacondicionados con tarjetas gráficas potentes y sistemas de refrigeración mejorados para ofrecer una experiencia de juego fluida y de alta calidad, ideales para gamers que buscan una alternativa económica a los sistemas nuevos.</li>
              <strong>Equipos para diseño gráfico y edición:</strong> Computadoras equipadas con procesadores de última generación y amplias capacidades de memoria RAM, diseñadas para manejar aplicaciones intensivas como Photoshop, AutoCAD, y editores de video.</li>
              <strong>Modelos compactos:</strong> Opciones de computadoras de escritorio compactas o mini PCs, perfectas para espacios reducidos o para quienes prefieren configuraciones más discretas sin sacrificar potencia.</li>
            
            </p>
  
            <li id="t2.2" onclick="toggleContent('t2.2.2')"><strong>Laptops:</strong></li>
            <p id="t2.2.2">
              Las laptops reacondicionadas en Tecnofusion son la opción ideal para aquellos que buscan un equipo portátil de alta calidad sin pagar el precio de un dispositivo nuevo. Estas laptops son sometidas a pruebas exhaustivas para asegurar que su rendimiento sea óptimo. Algunas subcategorías destacadas son:
          
              <strong>Laptops ultraligeras:</strong> Ideales para profesionales en movimiento o estudiantes, con un diseño ligero y batería de larga duración para una máxima portabilidad sin comprometer el rendimiento.</li>
              <strong>Laptops para profesionales:</strong> Equipadas con procesadores potentes, estas laptops están optimizadas para el trabajo multitarea, videoconferencias, edición de documentos y hojas de cálculo, y más.</li>
              <strong>Laptops para gaming:</strong> Equipadas con tarjetas gráficas de alta gama y capacidad de expansión, nuestras laptops para gaming ofrecen una experiencia de juego superior con un precio significativamente menor que una nueva.</li>
              <strong>Laptops 2 en 1:</strong> Dispositivos versátiles que pueden funcionar tanto como laptops tradicionales o tablets, perfectos para quienes buscan un equipo multifuncional con pantalla táctil.</li>
              <strong>Laptops económicas:</strong> Portátiles asequibles y funcionales para usuarios que requieren una herramienta básica para navegar en internet, realizar tareas de oficina, o estudiar.</li>
              </p >
          
            <li id="t2.3" onclick="toggleContent('t2.3.3')"><strong>Tablets:</strong></li>
            <p id="t2.3.3">
              Nuestras tablets reacondicionadas combinan funcionalidad y comodidad, ofreciendo dispositivos táctiles de alto rendimiento a un precio reducido. Son ideales tanto para el trabajo como para el entretenimiento. Dentro de esta categoría, ofrecemos:
              <strong>Tablets para entretenimiento:</strong> Dispositivos diseñados para la reproducción de videos, juegos móviles y navegación por internet, perfectos para disfrutar de contenido multimedia en cualquier lugar.</li>
              <strong>Tablets para profesionales:</strong> Equipadas con aplicaciones de productividad como procesadores de texto y software de presentación, estas tablets son ideales para profesionales que necesitan realizar trabajo sobre la marcha.</li>
              <strong>Tablets educativas:</strong> Diseñadas para estudiantes de todas las edades, estas tablets vienen con aplicaciones educativas y herramientas para facilitar el aprendizaje a distancia o el acceso a recursos en línea.</li>
              <strong>Tablets 2 en 1:</strong> Dispositivos que combinan la funcionalidad de una laptop y una tablet, con teclados desmontables o convertibles, ofreciendo una solución práctica para quienes requieren flexibilidad.</li>
          
          </p>
            <li id="t2.4" onclick="toggleContent('t2.4.4')"><strong>Accesorios tecnológicos:</strong></li>
            <p id="t2.4.4">
              En Tecnofusion también ofrecemos una gama completa de accesorios reacondicionados, esenciales para complementar tus dispositivos electrónicos. Nuestros accesorios están en excelente estado y listos para mejorar tu experiencia tecnológica. Estos incluyen:
            
              <strong>Teclados y ratones:</strong> Accesorios reacondicionados que ofrecen precisión y comodidad para el uso diario, ya sea para juegos, trabajo de oficina, o actividades educativas.</li>
              <strong>Monitores:</strong> Pantallas reacondicionadas de diversas marcas y tamaños, ideales para mejorar la productividad, disfrutar de contenido multimedia o para configuraciones de trabajo multipantalla.</li>
              <strong>Cables y adaptadores:</strong> Una amplia selección de cables de carga, HDMI, USB y adaptadores diversos, todos revisados para asegurar su correcto funcionamiento.</li>
              <strong>Audífonos y altavoces:</strong> Dispositivos de audio reacondicionados que ofrecen una calidad de sonido superior, perfectos para escuchar música, realizar videollamadas o jugar.</li>
              <strong>Webcams y micrófonos:</strong> Equipos de grabación y videollamadas reacondicionados, ideales para teletrabajo, conferencias virtuales y streaming.</li>
          </p>
            <li id="t2.4" onclick="toggleContent('t2.4.4.4')"><strong>Componentes de hardware:</strong></li>
            <p id="t2.4.4.4">
              Para aquellos que buscan mejorar o reparar sus propios dispositivos, ofrecemos componentes de hardware reacondicionados de alta calidad. Cada componente ha sido sometido a pruebas rigurosas para asegurar su rendimiento óptimo. Entre los más solicitados se encuentran:
           
              <strong>Discos duros y SSDs:</strong> Almacenamiento interno reacondicionado, desde discos duros tradicionales hasta unidades de estado sólido (SSD), que ofrecen alta velocidad y fiabilidad.</li>
              <strong>Memorias RAM:</strong> Módulos de memoria reacondicionados de diferentes capacidades para mejorar el rendimiento de tus dispositivos, optimizando la multitarea y la ejecución de aplicaciones intensivas.</li>
              <strong>Tarjetas gráficas:</strong> Tarjetas de video reacondicionadas para gaming, edición de video o diseño gráfico, ofreciendo un alto rendimiento a un costo significativamente menor.</li>
              <strong>Fuentes de poder:</strong> Fuentes de poder para computadoras de escritorio, revisadas y certificadas para ofrecer un suministro de energía estable y seguro.</li>
              <strong>Placas base y procesadores:</strong> Componentes clave reacondicionados, esenciales para la actualización o reparación de computadoras de escritorio, garantizando una experiencia de usuario fluida y eficiente.</li>
           </p>
          <br>
   
   
   
          <h2 id="t3" onclick="toggleContent('t3.1')">3. ¿Qué significa que un producto sea reacondicionado?</h2>
   <p id="t3.1">
     Un producto reacondicionado es un dispositivo que ha sido previamente utilizado, pero que ha pasado por un proceso de restauración exhaustivo para garantizar que funcione correctamente y luzca en excelentes condiciones antes de ser puesto nuevamente a la venta. Este proceso está diseñado para asegurar que los productos reacondicionados mantengan los más altos estándares de calidad, a un precio significativamente más accesible que un equipo nuevo. El proceso incluye varias etapas críticas que detallamos a continuación:
   </p>
   
   <ul>
     <li id="t3.1" onclick="toggleContent('t3.1.1')"><strong>Inspección inicial:</strong></li>
     <p id="t3.1.1">
       Antes de que un producto reacondicionado sea restaurado, pasa por una inspección minuciosa para evaluar su estado general. Durante esta fase, técnicos especializados examinan el dispositivo en busca de signos de desgaste, componentes defectuosos o daños visibles. Algunos aspectos importantes que se revisan incluyen:
       <strong>Condiciones externas:</strong> Se inspecciona el chasis o la carcasa del dispositivo para detectar golpes, rasguños o abolladuras significativas.</li>
       <strong>Componentes internos:</strong> Se revisan partes críticas como el procesador, la placa base, la memoria RAM y el almacenamiento para asegurar que funcionen correctamente y no presenten fallos.</li>
       <strong>Periféricos:</strong> En el caso de laptops o tablets, se inspeccionan los teclados, pantallas táctiles, y conectores para asegurarse de que no haya problemas funcionales o físicos.</li>
     
  
   </p>
     <li id="t3.2" onclick="toggleContent('t3.2.2')"><strong>Reparación:</strong></li>
     <p ID="t3.2.2">
       Si durante la inspección inicial se detectan fallas o desgaste en cualquier componente, el siguiente paso es reparar o reemplazar esas piezas. En esta etapa, se asegura que cada parte defectuosa sea sustituida por componentes nuevos o reacondicionados que garanticen un rendimiento óptimo. Los aspectos clave de la reparación incluyen:
     
   
     <strong>Sustitución de piezas:</strong> Partes como discos duros, baterías, tarjetas gráficas o ventiladores se reemplazan si presentan fallas, asegurando que el equipo esté completamente funcional.</li>
      <strong>Actualizaciones:</strong> En algunos casos, se pueden hacer actualizaciones para mejorar el rendimiento, como aumentar la capacidad de la memoria RAM o instalar un disco duro de estado sólido (SSD) más rápido.</li>
      <strong>Solución de problemas técnicos:</strong> Se reparan fallos del sistema, se eliminan errores de software y se reinstalan sistemas operativos para garantizar una experiencia fluida y sin fallos.</li>
     
   </p>
     <li id="t3.3" onclick="toggleContent('t3.3.3')"><strong>Limpieza y restauración estética:</strong></li>
     <p id="t3.3.3">
       Además de las reparaciones técnicas, los productos reacondicionados también pasan por un proceso de restauración estética para mejorar su apariencia. Aunque estos dispositivos ya no son nuevos, se busca que luzcan lo más cerca posible a un equipo en perfecto estado. Las principales actividades en esta etapa incluyen:
     
      <strong>Limpieza profunda:</strong> El equipo es desarmado y limpiado tanto por dentro como por fuera para eliminar polvo, suciedad o cualquier residuo que pudiera afectar su funcionamiento o estética.</li>
     <strong>>Reparación de rayones o daños superficiales:</strong> Rasguños, abolladuras o marcas de uso se reparan o se minimizan para que el dispositivo tenga una presentación mucho más atractiva.</li>
     <strong>Reemplazo de carcasas:</strong> En algunos casos, si la carcasa externa presenta daños graves, se reemplaza por una nueva o restaurada.</li>
   </p>
     <li id="t3.4" onclick="toggleContent('t3.4.4')"><strong>Pruebas de funcionamiento:</strong></li>
     <p id="t3.4.4">
       Una vez que el equipo ha sido reparado y restaurado, se somete a una serie de pruebas exhaustivas para verificar su rendimiento y funcionamiento. Estas pruebas se realizan bajo diferentes condiciones para asegurar que el dispositivo cumple con los estándares de calidad exigidos. Las pruebas incluyen:
    
     
       <strong>Pruebas de hardware:</strong> Se evalúan componentes esenciales como el procesador, la memoria RAM, el almacenamiento, la tarjeta gráfica y otros periféricos para asegurarse de que funcionan correctamente y no presentan fallos.</li>
       <strong>Pruebas de software:</strong> Se verifica el correcto funcionamiento del sistema operativo y se realizan pruebas de rendimiento con software específico para asegurarse de que el dispositivo sea capaz de manejar las tareas para las que está destinado.</li>
       <strong>Pruebas de batería (en dispositivos portátiles):</strong> Se evalúa la capacidad de la batería en laptops y tablets para garantizar que tenga una duración aceptable y un rendimiento estable.</li>
       <strong>Pruebas de conectividad:</strong> Se comprueba la funcionalidad de puertos USB, HDMI, conexiones de red y otros componentes de conectividad para asegurar que no haya fallos de comunicación con dispositivos externos.</li>
     
    </p>
     <li id="t3.5" onclick="toggleContent('t3.5.5')"><strong>Certificación y embalaje:</strong></li>
     <p id="t3.5.5">
       Después de que el producto ha pasado todas las pruebas de funcionamiento, se certifica como un dispositivo completamente funcional y listo para su venta. Esta certificación garantiza que el equipo cumple con nuestros estrictos estándares de calidad. Una vez certificado, el producto es embalado cuidadosamente para asegurar que llegue en perfectas condiciones a su nuevo propietario. Los aspectos más importantes de esta fase son:
       <strong>Embalaje seguro:</strong> Se utilizan materiales de embalaje de alta calidad para proteger el equipo durante el envío y asegurar que no sufra daños durante el transporte.</li>
       <strong>Documentación:</strong> El producto reacondicionado incluye toda la documentación necesaria, como manuales de usuario, certificados de garantía y guías de instalación, si corresponde.</li>
       <strong>Garantía:</strong> Todos nuestros productos reacondicionados vienen con una garantía que varía según el tipo de dispositivo, cubriendo cualquier posible fallo de fabricación o mal funcionamiento.</li>
     
    </p>
          <br>
          <h2 id="t4" onclick="toggleContent('t4')">4. ¿Cómo puedo realizar una compra en la plataforma?</h2>
   <p id="t4">
     Comprar en Tecnofusion es un proceso diseñado para ser rápido, fácil y totalmente seguro, ofreciendo una experiencia sin complicaciones desde la selección del producto hasta la entrega en tu domicilio. A continuación, te ofrecemos una guía detallada paso a paso para realizar tu compra de manera eficiente:
   </p>
   
   <ol>
     <li id="t4.1" onclick="toggleContent('t4.1.1')"><strong>Registro en la plataforma:</strong></li>
     <p id="t4.1.1">
       Si es tu primera vez comprando en Tecnofusion, lo primero que necesitas hacer es crear una cuenta en nuestra plataforma. Este proceso es sencillo y solo te llevará unos minutos. Para registrarte, sigue estos pasos:
     
       Accede a la sección de <strong>Registro</strong> desde el menú principal de nuestra página web.</li>
       Introduce tus datos personales básicos, como nombre completo, dirección de correo electrónico, y una contraseña segura que podrás utilizar para futuras compras.</li>
       Una vez completado el formulario de registro, recibirás un correo electrónico de verificación. Asegúrate de verificar tu cuenta para activar todas las funcionalidades de nuestra plataforma.</li>
       Si ya tienes una cuenta, simplemente inicia sesión utilizando tu correo electrónico y contraseña.</li>
       La creación de una cuenta te permite acceder a ventajas exclusivas, como guardar productos en tu lista de deseos, revisar tu historial de compras y hacer seguimiento a tus pedidos.</li>
     </p>
   
     <li id="t4.2" onclick="toggleContent('t4.2.2')"><strong>Navegación y selección de productos:</strong></li>
     <p id="t4.2.2">
       Una vez que hayas iniciado sesión en tu cuenta, podrás explorar nuestro amplio catálogo de productos reacondicionados. Navegar por la plataforma es intuitivo y podrás buscar productos de varias maneras:
     
     
       Utiliza el <strong>buscador</strong> en la parte superior de la página para encontrar productos específicos ingresando palabras clave, como "laptop", "tablet" o "teclado".</li>
       Explora nuestras <strong>categorías</strong> de productos como computadoras, laptops, tablets, accesorios tecnológicos y componentes de hardware, según lo que necesites.</li>
       Cada producto incluye una descripción detallada, especificaciones técnicas, estado del producto, y opiniones de otros clientes para ayudarte a tomar una decisión informada.</li>
     
   </p>
     <li id="t4.3" onclick="toggleContent('t4.3.3')"><strong>Añadir al carrito:</strong></li>
     <p id="t4.3.3">
       Cuando encuentres el producto que deseas comprar, selecciona las características necesarias, como cantidad o especificaciones adicionales, si las hubiera. Posteriormente, agrégalo al <strong>carrito de compras</strong> haciendo clic en el botón correspondiente. En esta etapa, podrás:
       Revisar todos los productos que has añadido al carrito, asegurándote de que la cantidad, el modelo y las características seleccionadas son correctas.</li>
       Si deseas seguir explorando, puedes regresar a la tienda y añadir más productos a tu carrito.</li>
       En todo momento tendrás la opción de editar tu carrito, eliminar productos que ya no necesites o ajustar cantidades antes de proceder al pago.</li>
    </p>
  
     <li id="t4.4" onclick="toggleContent('t4.4.4')"><strong>Proceder al pago:</strong></li>
     <p id="t4.4.4">
       Una vez que hayas revisado tu carrito y estés listo para finalizar tu compra, haz clic en el botón de <strong>Proceder al Pago</strong>. Este paso te llevará al formulario de pago donde podrás seleccionar entre nuestras múltiples opciones de pago seguras, que incluyen:
       <strong>Tarjeta de crédito:</strong> Ingresa los datos de tu tarjeta de crédito de manera segura, con soporte para las principales redes como Visa, MasterCard y American Express.</li>
       <strong>Tarjeta de débito:</strong> También puedes realizar el pago utilizando tu tarjeta de débito, asegurando una transacción rápida y segura.</li>
       <strong>Pagos electrónicos:</strong> Para tu conveniencia, ofrecemos alternativas de pagos digitales como PayPal o servicios locales de pago electrónico, dependiendo de tu región.</li>
     <br>
     <br>
       Asegúrate de que la dirección de envío sea la correcta, ya que el producto será enviado a este lugar. También puedes ingresar una dirección diferente si deseas que el pedido sea entregado en otro lugar.
     </p>
   
     <li id="t4.5" onclick="toggleContent('t4.5.5')"><strong>Confirmación del pedido:</strong></li>
     <p id="t4.5.5">
       Una vez que hayas completado el proceso de pago, recibirás de inmediato un correo electrónico de <strong>confirmación de pedido</strong>. Este correo contendrá un resumen detallado de tu compra, que incluye:
       El número de referencia de tu pedido, que puedes usar para hacer seguimiento.</li>
       Una descripción de los productos adquiridos, con las cantidades y características seleccionadas.</li>
       El total pagado, incluyendo impuestos y cualquier costo de envío, si corresponde.</li>
       Información sobre el estado de tu pedido, que te permitirá monitorear el progreso de la preparación y el envío.</li>
     
    <br>
    <br>
       Si por alguna razón no recibes este correo, te recomendamos revisar tu bandeja de spam o comunicarte con nuestro servicio de atención al cliente para verificar el estado de tu compra.
     </p>
   
     <li id="t4.6" onclick="toggleContent('t4.6.6')"><strong>Envío y entrega:</strong></li>
     <p id="t4.6.6">
       Una vez confirmado tu pedido, nuestro equipo de logística se encargará de preparar tu producto y enviarlo a la dirección que proporcionaste. El plazo estimado de entrega varía entre <strong>3 a 7 días hábiles</strong>, dependiendo de tu ubicación. Durante este tiempo, te proporcionaremos actualizaciones del estado de tu envío a través de tu correo electrónico o de tu cuenta en la plataforma, donde podrás:
     
     
       Rastrear el envío de tu producto en tiempo real para saber cuándo llegará.</li>
       Ver el estado actual del pedido, desde la preparación hasta la entrega.</li>
       Recibir notificaciones en caso de retrasos o inconvenientes, en cuyo caso nuestro equipo de soporte estará disponible para asistirte.</li>
     
       Finalmente, cuando recibas tu producto, asegúrate de revisarlo cuidadosamente. Si tienes algún problema con el estado del producto o necesitas asistencia postventa, nuestro equipo de soporte estará encantado de ayudarte. También puedes hacer uso de nuestra garantía, en caso de que el producto no cumpla con las expectativas o presente fallos.
     </p>
   </ol>
   
          
          <br>
   
          <h2 id="t5"  onclick="toggleContent('t5.')">5. ¿Los productos reacondicionados tienen garantía?</h2>
          <p id="t5.">
            Sí, en Tecnofusion entendemos que la confianza es fundamental al adquirir productos reacondicionados. Por eso, todos nuestros productos cuentan con una garantía que varía según el tipo de dispositivo. A continuación, te ofrecemos una descripción detallada de nuestra política de garantía, diseñada para ofrecerte tranquilidad y seguridad en tu compra:
          </p>
  
            <li id="t5.1"  onclick="toggleContent('t5.1.1')"><strong>Garantía estándar:</strong></li>
            <p id="t5.1.1">
              Todos los productos reacondicionados que ofrecemos vienen con una <strong>garantía estándar de 6 meses</strong>. Esta cobertura incluye:
            
              Protección contra defectos de fabricación que puedan surgir después de la compra.</li>
              Soporte para problemas de funcionamiento inherentes al dispositivo que afecten su rendimiento.</li>
              Reparaciones necesarias sin costo adicional para el cliente, siempre que el problema esté cubierto por la garantía.</li>
          </p>
          
            <li id="t5.2" onclick="toggleContent('t5.2.2')"><strong>Garantía extendida (opcional):</strong></li>
            <p>
              Para aquellos que deseen mayor tranquilidad, ofrecemos la opción de adquirir una <strong>garantía extendida</strong>. Esta garantía se puede agregar al momento de la compra y tiene una duración de hasta <strong>1 año</strong> en ciertos productos. Las ventajas de esta opción incluyen:
            
              Una cobertura adicional que incluye reparaciones por defectos de fabricación y problemas de funcionamiento durante el período extendido.</li>
              Mayor protección y respaldo, ideal para usuarios que dependen de su dispositivo para tareas críticas.</li>
              Posibilidad de acceso a servicios prioritarios en caso de que surja algún problema durante el período de garantía extendida.</li>
              </p>
  
            <li id="t5.3" onclick="toggleContent('t5.3.3')"><strong>Condiciones de la garantía:</strong></li>
            <p id="t5.3.3">
              Es importante tener en cuenta las condiciones de nuestra garantía para que puedas disfrutar de la mejor experiencia con tus productos reacondicionados. La garantía cubre:
         
              Fallas de hardware que afecten el rendimiento del equipo.</li>
              Problemas que surjan dentro del período de cobertura y que no sean resultado de un uso inapropiado.</li>
            
              Sin embargo, hay algunas exclusiones importantes que debes considerar:
              La garantía no cubre daños causados por mal uso, negligencia, accidentes o modificaciones no autorizadas al producto.</li>
              Daños causados por factores externos como agua, fuego o caída también quedan excluidos de la cobertura.</li>
             El desgaste normal del producto que no afecta su funcionamiento no está cubierto.</li>
             </p>
          
  
  
            <li id="t5.4" onclick="toggleContent('t5.4.4')"><strong>Proceso de reclamación:</strong></li>
            <p id="t5.4.4">
              Si tu producto presenta fallas dentro del período de garantía, estamos aquí para ayudarte. El proceso de reclamación es sencillo y consta de los siguientes pasos:
            
             Contacta a nuestro <strong>servicio de soporte</strong> a través de la plataforma o por correo electrónico, proporcionando la información necesaria sobre el problema que estás experimentando.</li>
              Nuestro equipo de soporte evaluará tu caso y te proporcionará instrucciones claras sobre cómo proceder. Esto puede incluir el envío del producto para una evaluación o reparación.</li>
              Una vez que se confirme que el problema está cubierto por la garantía, procederemos a realizar las reparaciones necesarias o, si es el caso, a reemplazar el producto sin costo adicional para ti.</li>
              Te mantendremos informado durante todo el proceso, asegurándonos de que estés al tanto del estado de tu reclamación.</li>
          
              En Tecnofusion, nuestra prioridad es garantizar tu satisfacción. Por ello, nuestro equipo está comprometido en ofrecerte un servicio de atención al cliente ágil y efectivo, para resolver cualquier inquietud relacionada con la garantía de tu producto reacondicionado.
            </p>
          </ul>
          
   
   
   
          <br>
   
          <h2 id="t6" onclick="toggleContent('t6.')">6. ¿Qué métodos de pago aceptan?</h2>
  <p id="t6." style="display: none;">
  En Tecnofusion nos comprometemos a facilitar tu experiencia de compra ofreciendo una variedad de métodos de pago. Queremos asegurarnos de que el proceso de compra sea lo más cómodo y seguro posible, por lo que hemos integrado varias opciones para que elijas la que mejor se adapte a tus necesidades. A continuación, detallamos los métodos de pago que aceptamos:
  </p>
  
  <ul>
  <li id="t6.1" onclick="toggleContent('t6.1.1')"><strong>Tarjetas de crédito y débito:</strong></li>
  <p id="t6.1.1" style="display: none;">
    Aceptamos las principales tarjetas de crédito y débito, incluyendo:
    <br><strong>Visa:</strong> Amplia aceptación a nivel mundial, ideal para realizar compras en línea.
    <br><strong>MasterCard:</strong> Otra opción popular que ofrece protección al comprador y transacciones seguras.
    <br><strong>American Express:</strong> Reconocida por su servicio al cliente y programas de recompensas, aceptamos American Express para mayor flexibilidad.
    <br>
    Al utilizar tarjetas de crédito o débito, puedes disfrutar de un proceso de compra rápido y eficiente, además de la posibilidad de acumular puntos o recompensas en tu tarjeta.
  </p>
  
  <li id="t6.2" onclick="toggleContent('t6.2.2')"><strong>Transferencias bancarias:</strong></li>
  <p id="t6.2.2" style="display: none;">
    Para aquellos que prefieren realizar pagos a través de su banco, ofrecemos la opción de <strong>transferencias bancarias</strong>. Este método es ideal para compras más grandes y garantiza la seguridad de tus fondos. 
    <br>
    Al elegir esta opción, asegúrate de seguir las instrucciones que recibirás durante el proceso de compra para que tu pago se procese correctamente.
  </p>
  
  <li id="t6.3" onclick="toggleContent('t6.3.3')"><strong>Pagos electrónicos:</strong></li>
  <p id="t6.3.3" style="display: none;">
    Para mayor seguridad y comodidad, puedes utilizar plataformas de <strong>pagos electrónicos</strong> como:
    <br><strong>PayPal:</strong> Permite realizar transacciones rápidas y seguras, y ofrece protección al comprador en caso de problemas.
    <br><strong>Tarjeta de crédito:</strong> El método más sencillo y eficiente para realizar el proceso.
    <br>
    Estos métodos de pago son ideales para quienes buscan una experiencia de compra sin complicaciones y desean evitar ingresar información de su tarjeta en múltiples sitios.
  </p>
  
  <li id="t6.4" onclick="toggleContent('t6.4.4')"><strong>Pagos en cuotas (si aplica):</strong></li>
  <p id="t6.4.4" style="display: none;">
    En algunos productos, ofrecemos la opción de <strong>pagar en cuotas</strong>. Esto es especialmente útil para la compra de equipos más costosos, permitiendo a nuestros clientes:
    <br>
    - Dividir el costo total en pagos más manejables.
    <br>
    - Hacer la compra de tecnología de calidad sin afectar demasiado su presupuesto mensual.
    <br>
    - Facilitar el acceso a productos de mayor valor, como laptops y computadoras de escritorio, sin comprometer la calidad.
    <br>
    Si deseas optar por esta modalidad, asegúrate de revisar los términos y condiciones aplicables, así como las tasas de interés que puedan estar asociadas.
  </p>
  </ul>
  
  <p>
  En Tecnofusion, tu seguridad es nuestra prioridad. Por ello, todos los métodos de pago que ofrecemos están diseñados para garantizar transacciones seguras y protegidas. Si tienes alguna duda sobre el proceso de pago o las opciones disponibles, no dudes en ponerte en contacto con nuestro equipo de soporte, que estará encantado de ayudarte.
  </p>
    
          
       </div>
   
   </div>
   
   
   <script>
    // Función para mostrar u ocultar el contenido al hacer clic
    function toggleContent(id) {
        const element = document.getElementById(id);
        if (element.style.display === "block") {
            element.style.display = "none";
        } else {
            element.style.display = "block";
        }
    }
  </script>
  
   
       
  </body>